body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 158px;
  height: 81px;
  object-fit: cover;
}

.font-negrito {
  font-weight: bold;
}

.mt-35 {
  margin-top: 45px;
  margin-bottom: -140px;
}

.borderBtnFundador{
  border-color: #f8f9fa !important;
}

.logoFundador{
  object-fit: cover;
  width: 230px;
}

.meioDeContato {
  padding-right: 15px;
  padding-left: 15px;
}

.ml-3 {
  margin-left: 3px;
}

.mt-9 {
  margin-top: 9rem !important;
}

.contatosTelEmail {
  font-size: 30px;
  margin-top: -7px;
  margin-right: 9px;
}

.ml-35 {
  margin-left: 35%;;
}

.mr-10 {
  margin-right: 10px !important;
}

.mb-30 {
  margin-bottom: 30px;
}

.section-margin {
  padding-top: 95px;
}

.mbBanner {
  margin-bottom: -200px;
}

.mtBanner {
  margin-top: 50px;
}

.projetoImg4 {
  height: 341px;
}

.projetoImg7 {
  height: 191px;
}

.icone {
  height: 100px !important;
  width: 101px !important;
  cursor:pointer;
}

.p-40 {
  padding: 40px !important;
}

.text-align-center {
  text-align: center;
}

.corpoServico {
  border: 0px solid rgba(148, 148, 148, 1);
  background-color: rgba(247, 247, 247, 1);
  border-radius: 0;
}

.fontSizeIconesServicos {
  font-size: 1.3rem !important;
}

.loading {
  padding-top: 20%;
  position: absolute;
  padding-left: 50%;
  width: 100%;
  height: 100%;
  z-index: 999999999999;
}

.borderRadius-10 {
  border-radius: 10px;
}

.pt-25 {
  padding-top: 25px;
}