body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 158px;
  height: 81px;
  object-fit: cover;
}

.font-negrito {
  font-weight: bold;
}

.mt-35 {
  margin-top: 45px;
  margin-bottom: -140px;
}

.borderBtnFundador{
  border-color: #f8f9fa !important;
}

.logoFundador{
  object-fit: cover;
  width: 230px;
}

.meioDeContato {
  padding-right: 15px;
  padding-left: 15px;
}

.ml-3 {
  margin-left: 3px;
}

.mt-9 {
  margin-top: 9rem !important;
}

.contatosTelEmail {
  font-size: 30px;
  margin-top: -7px;
  margin-right: 9px;
}

.ml-35 {
  margin-left: 35%;;
}

.mr-10 {
  margin-right: 10px !important;
}

.mb-30 {
  margin-bottom: 30px;
}

.section-margin {
  padding-top: 95px;
}

.pt-60 {
  padding-top: 60px;
}

.mbBanner {
  margin-bottom: -200px;
}

.mtBanner {
  margin-top: 50px;
}

.projetoImg4 {
  height: 341px;
}

.projetoImg7 {
  height: 191px;
}

.icone {
  height: 100px !important;
  width: 101px !important;
  cursor:pointer;
}

.p-40 {
  padding: 40px !important;
}

.text-align-center {
  text-align: center;
}

.corpoServico {
  border: 0px solid rgba(148, 148, 148, 1);
  background-color: rgba(247, 247, 247, 1);
  border-radius: 0;
}

.fontSizeIconesServicos {
  font-size: 1.3rem !important;
}

.loading {
  padding-top: 20%;
  position: absolute;
  padding-left: 50%;
  width: 100%;
  height: 100%;
  z-index: 999999999999;
}

.borderRadius-10 {
  border-radius: 10px;
}

.pt-25 {
  padding-top: 25px;
}

.residencial {
  background-image: linear-gradient(0deg,rgba(11,60,107,.5),rgba(11,60,107,.5)),url(img/nossoProjetos/residencial.png);
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
}

.rural {
  background-image: linear-gradient(0deg,rgba(11,60,107,.5),rgba(11,60,107,.5)),url(img/nossoProjetos/rural.png);
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
}

.comercial {
  background-image: linear-gradient(0deg,rgba(11,60,107,.5),rgba(11,60,107,.5)),url(img/nossoProjetos/comercial.png);
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
}

.tituloCardsNossosProjetos {
  font-size: 20px;
  color: white;
  font-weight: 700;
  text-align: center;
}

a.but_st1.medium.blue:hover {
  background-color: #117964;
}

a.but_st1.medium.blue {
  background-color: #1abc9c;
}
a.but_st1.medium {
  font-size: 16px;
  padding: 15px 35px;
}
a.but_st1 {
  padding: 0;
  margin: 0 10px 10px 0;
  border-radius: 50px;
  color: #117964;
  text-decoration: none;
  background-color: #1abc9c;
}
a:hover {
  color: #001526;
  text-decoration: underline;
}
.textbutton, .txtbranco {
  color: #fff!important;
  font-weight: 700;
}
.blue, .green {
  color: #117964;
}
a {
  transition: all .3s ease-out 0s;
}

.min-h-100 {
  min-height: 400px !important;
}

.p-3rem {
  padding: 3rem 0;
}